body{
    height: 100vh;
    background-image: url("https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17563_hires.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
